<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE>分类管理</TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="../../static/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/main.css">

	<script type="text/javascript" src="../../static/jquery/jquery.3.3.1.min.js"></script>
	<script type="text/javascript" src="../../static/ztree/js/jquery.ztree.all.min.js"></script>
	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../static/script/docs.min.js"></script>
	<script type="text/javascript" src="goodsClassify.js" ></script>
	<script type="text/javascript">
        $(function () {
            $(".list-group-item").click(function(){
                // jquery对象的回调方法中的this关键字为DOM对象
                // $(DOM) ==> JQuery
                if ( $(this).find("ul") ) { // 3 li
                    $(this).toggleClass("tree-closed");
                    if ( $(this).hasClass("tree-closed") ) {
                        $("ul", this).hide("fast");
                    } else {
                        $("ul", this).show("fast");
                    }
                }
            });
        });
	</script>

	<style>
		tr{
			text-align: center;
		}
		th{
			text-align: center;
		}
		.tree li {
			list-style-type: none;
			cursor:pointer;
		}
		.tree-closed {
			height : 40px;
		}
		.tree-expanded {
			height : auto;
		}
	</style>
</HEAD>

<BODY>
<!--顶部条-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<div><a class="navbar-brand" style="font-size:32px;" href="javascript:void(0)">商城后台管理系统</a></div>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li style="padding-top:8px;">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
							<i class="glyphicon glyphicon-user"></i> 张三 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="javascript:void(0)"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
							<li><a href="javascript:void(0)"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
							<li class="divider"></li>
							<li><a href="../login/index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
						</ul>
					</div>
				</li>
				<li style="margin-left:10px;padding-top:8px;">
					<button type="button" class="btn btn-default btn-danger">
						<span class="glyphicon glyphicon-question-sign"></span> 帮助
					</button>
				</li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="查询">
			</form>
		</div>
	</div>
</nav>
<!--end顶部条-->

<!--主体部分-->
<div class="container">
	<div class="row">

		<!--左边部分-->
		<div class="col-sm-3 col-md-2 sidebar">
			<div class="tree">
				<ul style="padding-left:0px;" class="list-group">
					<li class="list-group-item tree-closed" >
						<a href="../login/main.html"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a>
					</li>
					<li class="list-group-item tree-closed">
						<span><i class="glyphicon glyphicon-th-large"></i> 系统管理 <span class="badge" style="float:right">4</span></span>
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="../images/images.html"><i class="glyphicon glyphicon-picture"></i> 图库管理</a>
							</li>
							<li style="height:30px;">
								<a href="goodsClassify.html"><i class="glyphicon glyphicon-equalizer"></i> 分类管理</a>
							</li>
							<li style="height:30px;">
								<a href="../goods/goods.html"><i class="glyphicon glyphicon-random"></i> 商品管理</a>
							</li>
							<li style="height:30px;">
								<a href="../user/user.html"><i class="glyphicon glyphicon-hdd"></i> 用户管理</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!--end左边部分-->

<!--右边部分-->
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="row">
<!--分类树-->
<div class="content_wrap">
	<div class="zTreeDemoBackground left">
		<ul id="goodsClassifyTree" class="ztree"></ul>
	</div>
</div>
<!--end分类树-->

<!--右键需要展示的功能菜单-->
<div id="rmenu" class="panel panel-default" style="position:absolute;display:none;z-index:999;padding:0;margin:0;line-height:0">
	<div class="panel-body" style="margin:0;padding:0;">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="javascript:void(0)" id="addNode" onclick="openAdd()">新增</a></li>
			<li><a href="javascript:void(0)" id="editNode" onclick="openEdit()">编辑</a></li>
			<li><a href="javascript:void(0)" id="deleteNode" onclick="$('#goods_classify_delete').modal('show')">移除</a></li>
		</ul>
	</div>
</div>
<!--end右键需要展示的功能菜单-->

<!-- 新增 -->
	<div class="modal fade" id="goods_classify_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="goods_classify_addnameLabel">新增分类</h4>
				</div>
				<div class="modal-body">
                    <div class="form-group">
                        <label for="goods_classify_add_select">父级分类：</label>
                        <select class="form-control" id="goods_classify_add_select">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goods_classify_add_name">分类名：</label>
                        <input type="text" class="form-control" id="goods_classify_add_name" placeholder="请输入要新增的分类名">
                    </div>
					<div class="form-group">
						<label for="goods_classify_add_sort">序号：</label>
							<input type="text" class="form-control" id="goods_classify_add_sort" placeholder="请输入要新增的序号">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="add_save()">保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
             </div>
		</div>
	</div>
<!-- end新增 -->

<!-- 编辑 -->
<div class="modal fade" id="goods_classify_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="goods_classify_editnameLabel">编辑分类</h4>
			</div>
			<div class="modal-body">
				<input id="goods_classify_editId" type="hidden">
                <div class="form-group">
                    <label for="goods_classify_edit_select">父级分类：</label>
                    <select class="form-control" id="goods_classify_edit_select">
                    </select>
                </div>
                <div class="form-group">
                    <label for="goods_classify_edit_name">分类名：</label>
                    <input type="text" class="form-control" id="goods_classify_edit_name" placeholder="请输入要新增的分类名">
                </div>
                <div class="form-group">
                    <label for="goods_classify_edit_sort">序号：</label>
                    <input type="text" class="form-control" id="goods_classify_edit_sort" placeholder="请输入要新增的序号">
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="edit_save()" id="edit_save">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<!-- end编辑 -->

<!-- 移除 -->
<div class="modal fade" id="goods_classify_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="goods_classify_deletenameLabel">删除分类</h4>
			</div>
			<div class="modal-body">
					<div class="col-sm-10">
						<p class="form-control-static">您确认想要删除数据？</p>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="delete_save()">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!-- end移除 -->
			</div>
		</div>
		<!--end右边部分-->

	</div>
</div>
<!--end主体部分-->

</BODY>
</HTML>